* {
    box-sizing: border-box;
}
body {
    margin: 0%;
    font-family: 'Ubuntu', sans-serif;
    
}
header, footer {
    padding: 10px;
    border-radius: 10px;
}
header {
    background: rgb(255, 0, 0);
    background: rgba(255, 0, 0, 0.6)

}
footer {
    margin-top: auto;
    background: rgb(0, 0, 255);
    background: rgba(0, 0, 255, 0.6)

}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;

}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 20px;
    
}

.hero--image {
    width: 35%;
    border-radius: 10px;
    max-height: 196px;
    max-width: 165px;
}

.hero--data {
    text-align: justify;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.rolo, .rolo2 {
    display: flex;
    gap: 10px;
    padding: 10px;
    flex-wrap: nowrap;
    overflow-x: auto;
}


.card {
    background-color: aqua;
    border-radius: 10px;
    padding: 15px;
}

.card--title {
    font-weight: bold;
}